.taskbar {
    background-color: #0957b6;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    padding: 0 10px;
    z-index: 1000; /* Ensure it's above other elements */
    flex-direction: row;
    gap: 10px;
  }
  
  .taskbar-icon {
    background-color: transparent;
    border: none;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .taskbar-icon img {
    width: 100px;
    height: 30px;
    margin-left: -10px;
    margin-bottom: -2px;
  }
  
  .system-clock {
    background-color: #1b7ef7;
    width: 110px;
    height: 30px;
    margin-right: -10px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .system-clock span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }

  .app{
    height: 30px;
    width: 160px;
    display: flex;
    align-content: center;
    align-items: center;
    gap: 15px;
    background-color: #1b7ef7;
    border-radius: 3px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }

  #icon-mina{
    height: 25px;
    width: 25px;
    margin-left: 10px;
  }

  p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: -600px;
  }